:root {
  --color-primary: #2ba6ff;
  --color-text: #3b3b40;
  --color-text-soft: #7c7c8a;
  --color-background: #ffffff;

  --color-border: #2ba6ff;
  --color-border-hover: #077bce;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: 'Poppins', Roboto, Inter, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
